.header-container {
    background-color: var(--dsc-color-bg-tertiary);
    height: 70px;
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dsc-color-font-primary);
}

.header-content h1 {
    font-size: 20px;
}

.header-content p {
    font-size: 12px;
}